@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-scroll {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE & Edge */
}

.sidebar-scroll::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}